

body {
    font-family: 'gabarito', sans-serif;
    width: 2000px;
} 

.navbar {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    align-items: center;
    position:sticky;
    background-color: white;
    top: 0%;
    z-index: 1;
}

.navbar__s1__title {
    color: rgb(190, 135, 241);
    font-size: 50px;

}

.navbar__s2 {
    padding: 30px;
    border: solid black .5px;
    border-radius: 40px;
    width: 60%;
    display: flex;
    gap: 10PX;
    align-items: center;
    position: sticky;


}

.navbar__s2 input {
    border: none;
    font-size: 20px;
    width: 100%;
    height: 10px;

}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    padding: 15px;
    align-items: center
}
.My Learning{
    cursor: pointer;
}

.categories {
    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;
    cursor: pointer;
}

.categories p {
    background-color: rgb(199, 21, 235);
    color: white;
    padding: 15px;
    border-radius: 30px;
    border: solid rgb(199, 21, 235) 1px;
}
.categories p:hover{
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid rgb(199, 21, 235) 1px;

}
.sale-image{
    position: relative;
}
.sale-image img{
    width: 100%;
}
.sale-image__offer{
    width: 35%;
    border: solid black 2px;
    background-color: rgba(236, 236, 9, 0.747);
    padding: 2%;
    position: absolute;
    top: 10%;
    left: 5%;
    animation-name: zoom;
    animation-duration: 2s;
}
@keyframes zoom{
    0%{
      transform: scale(0);
      opacity: 0;
    }

    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.recommended{
    padding: 10px;
}
.recommended__container{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.course__card{
    text-align: center;
    width: 200px;
}
.course__card img{
    width: 200px;
    height: 100px;
    object-fit: cover;
}
.topics{
    padding: 10px;
}
.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.topics__container p{
    border: solid grey 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}
.popular {
    padding: 10px;
}   
.Popular__container{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    align-items: center;
    break-after: avoid-column;
}
.popular__container img{
    width: 200px;
    height: 100px;
    object-fit: cover;
    break-after: avoid-column;
}
.footer{
    text-align:start;
    break-after: avoid-column;
}
